body,
html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color:  white;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

h2 {
	/* margin: 0 0 20px 0; */
	font-weight: 600;
	font-size: 30px;
	color:  white;
}

h3,
h4 {
	font-size: 20px;
	font-weight: 400;
	color:  white;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p {
	font-size: 15px;
	color:  white;
}

.gallery-color{
	color:  #465058;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}

a {
	color:  #465058;
	font-weight: 400;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #222;
}

ul,
ol {
	list-style: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

ul,
ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}

hr {
	height: 3px;
	width: 40px;
	text-align: left;
	position: relative;
	background:  white;
	margin-left: 0px;
	/* margin: 0 auto; */
	/* margin-bottom: 20px; */
	border: 0;
}
.services1{
	color: white;
	margin-left: 0px;
}

/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}

#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}

#menu a.navbar-brand {
	font-size: 26px;
	font-weight: 600;
	color: #eee;
}

#menu.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	color: #ddd;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}

#menu.navbar-default .navbar-nav>li>a:hover {
	color:   #4bcaff;
	border-style: ridge;
	border-color: #4bcaff;
	/* border: #4bcaff; */
}

.on {
	background-color: #465058 !important;

	padding: 0 !important;
	padding: 15px 0 !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color:   #4bcaff !important;
	background-color: transparent;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #fff;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color:  #4bcaff;
	border: #4bcaff;
}

.section-title {
	margin-bottom: 10px;
}

.section-title p {
	font-size: 18px;
	color: #666;
}

.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color:  #4bcaff;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 17px;
	font-weight: 400;
	border-radius: 6px;
	margin-top: 60px;
	transition: all 0.3s;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
	color: #fff;
	background-color: #666;
}

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	height: 800px;
	background: url(../img/home-bg.jpg) top center no-repeat;
	/* background-color: #e5e5e5; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

/* .intro .overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,70ad47+100&0.6+0,0.4+100 */
	/* background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(112, 173, 71, 0.4) 100%); */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(112, 173, 71, 0.4) 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(112, 173, 71, 0.4) 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#6670ad47', GradientType=0);
	/* IE6-9 */
} */

.intro .fa {
	font-size: 94px;
	margin-bottom: 40px;
	color: #fff;
}

.intro h1 {
	
	font-family: Segoe UI;
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	line-height: 50px;
	/* letter-spacing: -1px; */
	margin-top: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
}
h1 span {
	background-color:  #4d585f;
  }

  a span {
	  color: #4bcaff;
  }
/* .undercolor{
	background-color: #4b555d;
	line-height: 50px;
	width: 50%;
	margin: 0 auto;
} */

/* .intro p {
	color: #fff;
	font-size: 42px;
	margin-top: 20px;
	line-height: 75px;
	margin-bottom: 40px;
	font-weight: 300;
} */

.intro .btn-custom {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

header .intro-text {
	padding-top: 320px;
	padding-bottom: 200px;
	text-align: center;
}

/* About Section */
#about {
	padding: 120px 0 80px 0;
	background-color:  #465058;
	color: white;
}

#about h3 {
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0 0 0;
}

#about .about-text span {
	color: #70ad47;
	font-weight: 700;
	letter-spacing: -1px;
}

#about hr {
	margin-left: 0;
	margin-bottom: 40px;
}

#about .btn {
	margin-top: 40px;
}

#about .about-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

#about .about-text,
#about .about-desc {
	margin-bottom: 40px;
}

#about p {
	line-height: 24px;
	margin-top: 20px;
}

/* Services Section */
#services {
	padding: 120px 0;
	background:  #465058;
}

#services .service-media {
	margin: 10px;
}

#services .service-media img {
	position: relative;
	width: 225px;
	height: 225px;
	border-radius: 50%;
	border: 10px solid rgba(255, 255, 255, 0.1);
}

#services .service-desc {
	margin: 10px 10px 40px;
	text-align: center;
}

#services h2 {
	color: #fff;
}

#services h3 {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	padding: 5px 0;
}

#services p {
	color: rgba(255, 255, 255, 0.9);
}

#services hr {
	background: rgba(255, 255, 255, 0.6);
}

/* Portfolio Section */
#portfolio {
	padding: 100px 0;
	background: #f6f6f6;
}

.categories {
	text-align: center;
}

ul.cat li {
	display: inline-block;
}


ol.type li {
	display: inline-block;
	margin: 0 10px 40px 10px;
}

ol.type li a {
	color: #555;
	font-size: 16px;
	font-weight: 400;
	padding: 8px 16px;
	background: #e6e6e6;
	border: 0;
	border-radius: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s;
}

ol.type li a.active {
	background:  #465058;
	color: #fff;
}

ol.type li a:hover {
	background:  #465058;
	color: #fff;
}

.isotope-item {
	z-index: 2
}

.isotope-hidden.isotope-item {
	z-index: 1
}

.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}

.portfolio-item {
	margin: 15px 0;
}

.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 300;
	text-transform: uppercase;
}

.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.hover-bg:hover .hover-text {
	opacity: 1;
}

/* Testimonials Section */
#testimonials {
	/* background:  #4d585f url(../img/testimonials-bg.jpg) center center no-repeat fixed;
	background-size: cover; */

}

#testimonials .overlay {
	padding: 80px 0;
	background:  #fff;
}

#twitter{
	padding: 80px 0;
	background: #4bcaff;
	color: white ! important;
}
#testimonials h2 {
	color: grey;
}

#testimonials hr {
	background: rgba(255, 255, 255, 0.6);
}

#testimonial p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=1);
	opacity: 1;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4);
	transition: all 0.5s;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter: Alpha(Opacity=100);
	opacity: 1;
	background: #fff;
	border: 1px solid #fff;
}

.owl-theme .owl-controls .owl-page.active span {
	background: #fff;
	border: 1px solid #fff;
}

/* Contact Section */
#contact {
	padding: 100px 0;
	/* background: #F6F6F6; */
	background-image: url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	/* width: 100%;
	height: 815px; */
	
	
}

#contact .section-title p {
	color: #777;
}
.section-title1,
#text-form,
.text-color{
	color: white !important;

}

#contact form {
	padding: 0;
	margin-top: 40px;
}

#contact h3 {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 600;
}

#contact .text-danger {
	color: #cc0033;
	text-align: left;
}

label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}

#contact .form-control {
	display: block;
	width: 100%;
	padding: 20px 20px;
	font-size: 16px;
	line-height: 1.42857143;
	color:  white;
	/* background-color: #fff; */
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	
}

#contact .form-control:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 15px #ddd;
	box-shadow: 0 0 15px #ddd;
}

.form-control::-webkit-input-placeholder {
	color:  white;
}

.form-control:-moz-placeholder {
	color:  white;
}

.form-control::-moz-placeholder {
	color:  white;
}

.form-control:-ms-input-placeholder {
	color:  white;
}

#contact .contact-info {
	margin-bottom: 30px;
}



#contact .contact-item {
	margin: 20px 0 40px 0;
}

/* Footer Section*/
#footer {
	background: #333;
	padding: 30px 0 20px;
}

#footer h3 {
	color:  white;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#footer .social {
	margin: 10px 0 50px 0;
}

#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}

#footer .social i.fa {
	font-size: 22px;
	width: 40px;
	height: 40px;
	padding: 10px;
	background:  #4d585f;
	color:  #465058;
	border-radius: 50%;
	transition: all 0.3s;
}

#footer .social i.fa:hover {
	background:  #465058;
	color: #fff;
}

#footer p {
	color: #666;
	font-size: 15px;
}

#footer a{
	color: #888;
}


.color{
	color: #888 !important;
}

#footer a:hover {
	color: #ccc;
}

.service1_titre{
	color: white;
	font-size: 24px;
	text-align: left;
}
#services1 {
	padding: 120px 0;
	background:  #4bcaff;
	color: white;
	/* margin: 10px; */

}
#services .service-media1 img {
	position: relative;
	width: 125px;
	height: 125px;
	align-items: flex-start
	/* border-radius: 50%; */
	/* border: 10px solid rgba(255, 255, 255, 0.1); */
}
.service_subtitle{
	color: white;
}

.text-bleu{
	color: #4bcaff !important;
}
#servicetxt,
.about-heading{
	color: white;

}
.form-control{
	color: transparent ;
	background-color: transparent;
}